<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-list>
        <ion-item *ngFor="let cr of users"   href="/members/user-details/{{cr.id}}">
          <ion-icon name="desktop" slot="start"></ion-icon>
          {{cr.employee_name}}
          <div class="item-note" slot="end">
            {{cr.employee_name }}
          </div>
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->




  <ion-content padding="true" class="has-header">

    <table>
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Favorite Color</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cr of users">
         <th>{{cr.employee_name}}</th>
         <td>{{cr.employee_name}}</td>
         <td>{{cr.employee_name}}</td> 
         <td>{{cr.employee_name}}</td> 
         </tr>
      </tbody>
    </table>
  
         </ion-content>
  
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->



  <!-- <tr>
    <td>James</td>
    <td>Matman</td>
    <td>Chief Sandwich Eater</td>
    <td>Lettuce Green</td>
  </tr>
  <tr>
    <td>The</td>
    <td>Tick</td>
    <td>Crimefighter Sorta</td>
    <td>Blue</td>
  </tr>
  <tr>
    <td>Jokey</td>
    <td>Smurf</td>
    <td>Giving Exploding Presents</td>
    <td>White</td>
  </tr>
  <tr>
    <td>Cindy</td>
    <td>Beyler</td>
    <td>Sales Representative</td>
    <td>Red</td>
  </tr>
  <tr>
    <td>Captain</td>
    <td>Cool</td>
    <td>Tree Crusher</td>
    <td>Blue</td>
  </tr> -->