<!-- <html ng-app="ionicApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic Template</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
 </head>

  <body >
    <ion-content>
        <div class="row header">
          <div class="col">Utility Company Name</div>
          <div class="col">Service Code</div>
          <div class="col">Pay Limit</div>
          <div class="col">Account Number to Use</div>
          <div class="col"></div>
        </div>
        <div class="row" *ngFor="let cr of products">
          <div class="col">{{data.employee_name}}</div>
          <div class="col">{{data.employee_salary}}</div>
          <div class="col">{{data.employee_age}}</div>
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> 
        </div>
    </ion-content>
  </body>

</html> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-list>
        <ion-item *ngFor="let cr of products"   href="/members/user-details/{{cr.id}}">
          <ion-icon name="desktop" slot="start"></ion-icon>
          {{cr.employee_name}}
          <div class="item-note" slot="end">
            {{cr.employee_name }}
          </div>
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>