<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-list>
        <ion-item *ngFor="let cr of users"   href="/members/user-details/{{cr.id}}">
          <ion-icon name="desktop" slot="start"></ion-icon>
          {{cr.employee_name}}
          <div class="item-note" slot="end">
            {{cr.employee_name }}
          </div>
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> -->




  <ion-content padding="true" class="has-header">
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>User Name</th>
        <th>User Age</th>
        <th>User Salary</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cr of users">
         <th>{{cr.id}}</th>
         <td>{{cr.employee_name}}</td>
         <td>{{cr.employee_age}}</td> 
         <td>{{cr.employee_salary}}</td> 
         <td > 
          <ion-button routerLink="/members/user-details/{{cr.id}}">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button></td>
          <td> 
          <ion-button (click) = "deleteUser(cr.id)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button></td>
        
         </tr>
      </tbody>
    </table>
         </ion-content>
 



  